@model Lab3.Model.BagsModel
<div class="bags-container col-xs-12">
    @{
        foreach (var bagModel in Model.Bags)
        {
            if (bagModel.Bag.ImageLink == null)
            {
                continue;
            }
            <div class="bag-item col-xs-4 col-md-3">
                <p class="bag-title">@bagModel.Bag.Name</p>
                <span class="money">@bagModel.Bag.Price $</span>
            <img class="bag-preview-image" src="@bagModel.Bag.ImageLink"/>
            <a href="@(bagModel.IsActive
                           ? Url.Action("Bag", "Home", new {id = bagModel.Bag.Id})
                           : "#")"><button class="btn btn-info bag-btn">More</button></a>
            </div>
        }
    }
</div>
