@{

}

    <div class="jumbotron">
        
        <p>This is a bags shop!</p>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/15/a0/53/15a0537bf32a6c742b49fcae12865628.jpg">
        </div>
    </div>